
body {
  margin: 0px 0px;
  background-color: rgba(100,145,140,1);
}

.main-container {
  width: 840px;
  height: 100%;
  margin: 20px auto 0px auto;
  border-color: black;
  border-style: solid;
  border-width: 2px;
  border-radius: 6px;
}

.title-container {
  text-align: center;
  margin: 40px auto 20px auto;
}
#title {
  font-size: 40px;
  font-family: sans-serif;
}

.buttons-container {
  width: 158px;
  height: 100%;
  margin: 0px auto;
  /* outline-color: green;
  outline-style: solid;
  outline-width: 1px; */
}
.buttons-container button {
  color: black;
  width: 50px;
  height: 28px;
  background-color: lightblue;
}
.buttons-container button:hover {
  background-color: lightgreen;
}

.debug-container {
  width: 200px;
  height: auto;
  margin: 10px auto 0px auto;
  /* outline-color: green;
  outline-style: solid;
  outline-width: 1px; */
}

#coords {
  text-align: center;
  font-family: monospace;
  font-size: 24px;

}
#coords-x {

}
#coords-y {

}


.canvas-container {
  margin: 0px auto;
  width: 800px;
  height: 100%;
}
#canvas {
  margin: 20px auto;
  background-color: lightblue;
  /* outline-color: red;
  outline-style: solid;
  outline-width: 1px; */
}

footer {
  margin: 20px auto auto auto;
}
.social-container {
  width: 70px;
  height: 70px;
  margin: 0px auto;
}
#git-img {
  height: 70px;
  width: 70px;
}
