
body {
  margin: 0px 0px;
  background-color: rgba(102,150,142,1);
  /* background-color: rgba(153,255,204,1); */
  /* background-color: lightblue; */
}

.main-container {
  width: 840px;
  height: 100%;
  margin: 20px auto 0px auto;
  border-color: black;
  border-style: solid;
  border-width: 2px;
  border-radius: 6px;
}

.title-container {
  text-align: center;
  margin: 40px auto 20px auto;
}
#title {
  font-size: 40px;
  font-family: sans-serif;
}

.buttons-container {
  width: 158px;
  height: 100%;
  margin: 0px auto;
  /* outline-color: green;
  outline-style: solid;
  outline-width: 1px; */
}
.buttons-container button {
  color: black;
  width: 50px;
  height: 28px;
  background-color: lightblue;
}
.buttons-container button:hover {
  background-color: lightgreen;
}

.debug-container {
  width: 200px;
  height: auto;
  margin: 10px auto 0px auto;
  /* outline-color: green;
  outline-style: solid;
  outline-width: 1px; */
}

#coords {
  text-align: center;
  font-family: monospace;
  font-size: 24px;

}
#coords-x {

}
#coords-y {

}

.speed-container {
  width: 540px;
  display: flex;
  margin: 10px auto 0px auto;
  /* outline-color: red;
  outline-style: solid;
  outline-width: 1px; */
}
#speed-slider-label {
  font-size: 20px;

}
#speed-slider {
  margin: 0px auto 0px 20px;
  width: 200px;
}
#speed-input {
  height: 30px;
  font-size: 16px;
  margin-left: 20px;
}


.canvas-container {
  margin: 0px auto;
  width: 800px;
  height: 100%;
}
#canvas {
  margin: 16px auto;
  background-color: lightblue;
  /* outline-color: red;
  outline-style: solid;
  outline-width: 1px; */
}


.example-container {
  margin: 10px auto 10px auto;
  font-family: sans-serif;
  text-align: center;
}
.example {
  margin: 0px auto 26px auto;
}
.example img {
  border-width: 0px;
  border-color: none;
  border-style: none;
  border-radius: 0px;
}
.example img:hover {
  border-radius: 40px;
  transition: border-radius 200ms;
}



footer {
  margin: 20px auto auto auto;
}
.social-container {
  width: 70px;
  height: 70px;
  margin: 0px auto;
}
#git-img {
  height: 70px;
  width: 70px;
}
